<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create a new article</h1>
    <%= render 'form', article: @article%>
    <div class="mt-5">
      <%= link_to 'Back to the list', articles_path, class:'btn btn-outline-secondary' %>
    </div>
    </div>
</div>
